# Set tokens and rename this file to `credentials.conf`
# in order to run the bot.

token: ""

database {
  addr: "localhost"
  port: 28015
  name: "bot"
  user: "admin"
  pass: ""
}

server counts {
  carbonitex: ""
  discordbots: ""
  abal: ""
}

mal_creds{
    username: ""
    password: ""
}

cat: ""
imgflip: ""
mashape: ""
